@import "bootstrap";
@import "bourbon";
@import "bootstrap-responsive";

body{
  background: asset-url('nasty_fabric.png', 'image') repeat;
  padding: 2em 1em;

  .content{
    background: #fff;
    padding: 2em;
    border-radius: 3px;
    @include box-shadow(0 0 40px 2px #7c7b7b);
  }
  .user-menu{
    padding: 1em 0;
    vertical-align: middle;
    text-align: right;

    img{
      margin-right: 1em;
    }

    .btn{
      margin-top: .6em;
    }
  }
  .new-point-field{
    display: none;
  }

  .paraglide-amount{
    span{
      display: block;
    }
    img{
      width: 100px;
    }
  }
  span{
    font-weight: bold;
    padding-right: 1em;
  }
}

table.wind{
  border: 1 px solid red;
  @include box-shadow(0 0 4px 2px #ccc);

  td{
    width: 2em;
    height: 2em;
    background: #ccc;
    font-size: .7em;
    text-align: center;
    vertical-align: middle;

    border: 4px solid #fff;
  }

  td.wind{
    background: #222;
    color: #fff;
  }
}
